@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9FAFB;
}

header {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    height: 60px;
    background: linear-gradient(to right, #18447F, #2C7BE5);
}

.navbar-logo img {
    max-height: 48px;
    max-width: 160px;
    width: auto;
    height: auto;
    display: block;
}

.nav {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}

.nav-link {
    color: white !important;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    outline: none;
    color: #D4AF37 !important;
}

.dropdown-menu {
    background-color: #D9D9D9;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 0 30px 3px #3D3D3D;
}

.nav-item.dropdown:hover .dropdown-menu,
.nav-item.dropdown:focus-within .dropdown-menu {
    display: block;
}

.dropdown-item {
    color: #3D3D3D;
    padding: 8px 20px;
    border-radius: 5px;
    transition: background 0.3s;
}

.dropdown-item:hover,
.dropdown-item:focus {
    outline: none;
    background-color: rgb(245, 245, 245);
}

.user a {
    color: white !important;
    text-decoration: none;
}

.user a:hover,
.user a:focus {
    outline: none;
    box-shadow: none;
    color: #D4AF37 !important;
}

.input_nova_senha,
.input_confirma_nova_senha {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 10px;
    border: 1px solid #D1D5DB;
    background-color: #F3F4F6;
    color: #111827;
}

.btn-troca-senha button {
    background: transparent;
    border: none;
}

.input_nova_senha:focus,
.input_confirma_nova_senha:focus {
    outline: none;
    border: 1px solid #2564eb56;
}

.modal-header {
    background-color: #1E3A8A;
    color: white !important;
}

.btn-close {
    filter: invert(1);
}

.modal-body {
    background-color: #D9D9D9;
    color: #3D3D3D;
}

.modal-content {
    box-shadow: 0 0 30px 3px #3D3D3D;
    border-radius: 12px;
}

/* ! FIM DO NAVBAR  */

.titulo-solicitacao {
    text-align: center;
    font-size: 36px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #3D3D3D;
    margin-top: 20px;
    margin-bottom: 30px;
}

.container {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    background: #D9D9D9;
    box-shadow: 1px 1px 30px 3px #3D3D3D;
}

.formulario label {
    display: block;
    color: black; 
    margin-bottom: 5px;
}

.formulario input,
.formulario select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #D1D5DB;
    color: #111827;
    background-color: #F3F4F6;
    border-radius: 10px;
    transition: border 0.3s;
}

.formulario textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #D1D5DB;
    color: #111827;
    background-color: #F3F4F6;
    transition: border 0.3s;
    resize: vertical;
    min-height: 80px;
}

.formulario textarea:focus {
    outline: none;
    border: 1px solid #2564eb56;
}

.formulario input:focus,
.formulario select:focus {
    outline: none;
    border: 1px solid #2564eb56;
}

.container-fornecedor {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.container-fornecedor .input-fornecedor {
    width: 25%;
}

.container-fornecedor .mostrar-fornecedor {
    border: 1px solid #D1D5DB;
    color: #111827;
    background-color: #F3F4F6;
    cursor: not-allowed;
}

.container-empresa {
    display: flex;
    gap: 8px;
}

#empresa_id {
    width: 128px;
}

#revenda_id {
    width: 524px;
}

.container-dpto {
    display: flex;
    gap: 8px;
}

#departamento_id {
    width: 468px;
}

.flash-success {
    text-align: center;
    font-weight: 700;
    color: green;
    list-style: none;
}

.flash-error {
    text-align: center;
    font-weight: 700;
    color: red;
    list-style: none;
}

.flash-info {
    text-align: center;
    font-weight: 700;
    color: #2564eb;
    list-style: none;
}

.red {
    color: red;
}

.green {
    color: green;
}

.notFound {
    opacity: 75%;
    color: rgb(99, 99, 99);
}

.modalTitle {
    text-align: center;
    font-size: 20px;
    font-weight: 850;
}

.modalValue {
    text-align: center;
    font-size: 35px;
    font-weight: 650;
}

.modalAsk {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.modalButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.modal5121Title {
    font-weight: bold;
    font-size: 24px;
    color: #3D3D3D;
    text-align: center;
}

.modal5121div input {
    padding: 8px 10px;
    font-size: 1rem;
    border: 1px solid #D1D5DB;
    background-color: #F3F4F6;
    border-radius: 10px;
    transition: border 0.2s, background 0.2s;
    margin-bottom: 2px;
    color: #111827;
    transition: border 0.3s;
}

.modal5121div input:focus {
    outline: none;
    border: 1px solid #2564eb56;
}

.modal5121div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}