@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    height: 100%;
    background: #F9FAFB;
}

.container {
    padding: 0;
    width: 1074px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    background-color: #D9D9D9;
    box-shadow: 1px 1px 30px 3px #3D3D3D;
    border-radius: 10px;
}

.container-left {
    width: 50%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    position: relative;
    width: 100%;
}

.icon-input {
    position: absolute;
    left: 20px;
    top: 8%;
    transform: translate(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none; /* Impede que o icone interfira nos cliques */
}

.container-left img {
    width: 106.67px;
    height: 106.67px;
    margin-bottom: 65px;
}

.container-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    background: linear-gradient(to right, #1E3A8A, #2C7BE5);
}

.container-right img {
    margin-top: -120px;
    margin-bottom: 100px;
}

.container-right p {
    font-size: 32px;
    color: white;
    font-weight: lighter;
}

.container-right h1 {
    font-size: 36px;
    color: white;
}

.logo-kato {
    width: 239px;
    height: 96;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario div img {
    width: 24px;
    height: 24px;
}

.label-usuario,
.label-senha {
    align-self: flex-start;
    color: black;
    font-weight: 600;
}

.input-usuario,
.input-senha {
    color: #111827;
    background-color: #F3F4F6;
    border-radius: 10px;
    border: 1px solid #D1D5DB;
    padding: 5px 5px 5px 40px;
    margin-bottom: 40px;
    transition: border 0.3s;
}

.input-usuario:focus,
.input-senha:focus {
    outline: none;
    border: 1px solid #2564eb56;
}

.botao-enviar {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #1E3A8A;
    color: white;
    transition: 0.3s;
}

.botao-enviar:hover {
    background-color: #2564eb;
    cursor: pointer;
}

.botao-enviar:focus {
    outline: none;
    background-color: #2564eb;
}

.botao-enviar.loading span {
    display: none;
}

.botao-enviar.loading .loader {
    display: flex;
}

.loader {
    width: 32px;
    height: 32px;
    border: 10px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    border-top: 10px solid white;
    animation: spinner 2s infinite;
    display: none;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.flash-error {
    margin-top: 20px;
    font-weight: 700;
    color: red;
    list-style: none;
}

.flash-success {
    margin-top: 20px;
    font-weight: 700;
    color: green;
    list-style: none;
}

.flash-info {
    margin-top: 20px;
    font-weight: 700;
    color: #2564eb;
    list-style: none;
}