@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-background: #121212; /* Background Color */
    --secondary-background: #1F1F1F; /* Cards, Superfices, etc. */

    --primary-text: #EAEAEA; /* Text Color */
    --secondary-text: #B0B0B0; /* Text Color */

    --primary-action: #0D6EFD; /* Buttons, links, etc. */
    --primary-action-hover: #3399FF; /* Hoover */
    --success: #2ECC71; /* Buttons, links, etc. */
    --warning: #FFC107; /* Buttons, links, etc. */
    --error: #E63946; /* Buttons, links, etc. */
    
    
    --first-complement: #C0C0C0; /* Buttons, links, etc. */
    --second-complement: #1E3A8A; /* Buttons, links, etc. */
    
    --tabela-hover: #2f2f2f; 

    --input-background: #2a2a2a;
    --input-border: #3A3A3A;
    --input-focus: #0D6EFD; /* Usar um glow box-shadow */

}

body, html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: var(--primary-background);
}

header {
    width: 100%;
    background: var(--secondary-background);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    min-height: 64px;
}

.navbar-logo img {
    max-height: 44px;
    width: auto;
    padding: 2px 8px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
}

.nav-link {
    color: var(--primary-text) !important;
    font-weight: 700;
    border-radius: 6px;
    transition: background 0.2s, color 0.2s;
    text-decoration: none;
    margin-bottom: 2px;
}

.nav-link:hover,
.nav-link:focus {
    outline: none;
    box-shadow: none;
    color: var(--primary-action-hover) !important;
}

.dropdown-menu {
    background-color: var(--secondary-background);
    min-width: 180px;
    border-radius: 8px;
    border: none;
}

.nav-item.dropdown:hover .dropdown-menu,
.nav-item.dropdown:focus-within .dropdown-menu {
    display: block;
}

.dropdown-item {
    color: var(--primary-text);
    padding: 8px 20px;
    border-radius: 5px;
    transition: background 0.2s, color 0.2s;
}

.dropdown-item:hover,
.dropdown-item:focus {
    outline: none;
    background-color: var(--secondary-background);
    color: var(--primary-action-hover);
}

.user a {
    color: var(--primary-text);
    text-decoration: none;
}

.user a:hover,
.user a:focus {
    outline: none;
    box-shadow: none;
    color: var(--primary-action-hover) !important;
}

.btn-troca-senha button {
    background: transparent;
    border: none;
}

.input_nova_senha,
.input_confirma_nova_senha {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid var(--input-border);
    background-color: var(--input-background);
    color: var(--primary-text);
}

.input_nova_senha:focus,
.input_confirma_nova_senha:focus {
    border-color: var(--input-focus);
    outline: none;
}

.modal-header {
    background-color: var(--secondary-background);
    color: var(--primary-text);
}

.modal-body {
    background-color: var(--secondary-background);
    color: var(--primary-text);
}

.btn-close {
    filter: invert(1);
}

.voltar {
    text-decoration: none;
    border: 1px solid var(--primary-text);
    color: var(--primary-text);
    background-color: var(--primary-color);
    font-weight: 500;
    font-size: 0.9rem;
    padding: 6px 12px;
    border-radius: 4px;
    transition: 0.2s;
}

.voltar:hover,
.voltar:focus {
    border: 1px solid var(--input-focus);
    color: var(--primary-action);
}

.titulo {
    text-align: center;
    margin: 36px 0 28px 0;
    color: var(--primary-text);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.container {
    max-width: 700px;
    margin: 56px auto 40px auto;
    background: var(--secondary-background);
    padding: 36px 32px 28px 32px;
    border-radius: 16px;
    box-shadow: 0 0 24px rgba(0,0,0,0.09);
}

.formulario {
    display: grid;
    gap: 14px 1px;
    margin-bottom: 18px;
}

.formulario label {
    align-self: center;
    font-weight: 600;
    color: var(--primary-text);
    margin-bottom: 2px;
    font-size: 1rem;
}

.formulario input[type="text"] {
    width: 100%;
    padding: 8px 10px;
    font-size: 1rem;
    color: var(--primary-text);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    border-radius: 6px;
    transition: border 0.2s, background 0.2s;
    margin-bottom: 2px;
}

.formulario input[type="text"]:focus {
    outline: 1px solid var(--input-focus);
    box-shadow: 0 0 5px 1px var(--input-focus);
}

.formulario input[readonly] {
    background: var(--input-background);
    color: var(--primary-text);
    cursor: not-allowed;
}

.formulario label[for="motivo_reprova_id"] {
    text-align: center;
    text-decoration: underline;
    margin-top: 8px;
    margin-bottom: -4px;
    text-decoration: none;
}

.formulario textarea#descricao_id {
    width: 100%;
    padding: 8px 10px;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid var(--input-border);
    background: var(--input-background);
    color: var(--primary-text);
    resize: vertical;
    min-height: 60px;
    box-sizing: border-box;
    grid-column: 1 / 3;
    transition: border 0.2s, background 0.2s;
    margin-bottom: 2px;
    white-space: pre-line;
}

.formulario textarea#descricao_id[readonly] {
    outline: 1px solid var(--input-background);
    cursor: not-allowed;
    resize: none;
}

.formulario textarea#descricao_id[readonly]:focus {
    outline: 1px solid var(--input-background);
    box-shadow: 0 0 5px 1px var(--input-focus);
}

.formulario textarea#motivo_reprova_id {
    color: var(--primary-text);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    width: 100%;
    padding: 8px 10px;
    font-size: 1rem;
    border-radius: 6px;
    resize: none;
    cursor: not-allowed;
    grid-column: 1 / 3;
    box-sizing: border-box;
    min-height: 60px;
    white-space: pre-line;
}

.formulario textarea#motivo_reprova_id:focus {
    outline: 1px solid var(--error);
    box-shadow: 0 0 5px 1px var(--error);
}

.formulario select {
    border: 1px solid var(--input-border);
    background: var(--input-background);
    color: var(--primary-text);
    width: 100%;
    padding: 8px 8px 10px;
    font-size: 1rem;
    border-radius: 6px;
    transition: border 0.2s, background 0.2s;
    margin-bottom: 2px;
    cursor: pointer;
    box-sizing: border-box;
}

.formulario select:disabled {
    background: var(--input-background);
    color: var(--primary-text);
    cursor: not-allowed;
}

.formulario select:disabled:focus {
    outline: 1px solid var(--input-focus);
    box-shadow: 0 0 5px 1px var(--input-focus);
}

.formulario option {
    background: var(--input-background);
    color: var(--primary-text);
}

.formulario select option:checked {
    color: var(--second-complement);
}

.input-fornecedor {
    text-align: center;
    width: 25%;
    height: 44px;
    font-weight: 600;
    border: 1px solid var(--input-border);
    border-radius: 6px;    
}

.container-fornecedor {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn-reprovados {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cod-fornecedor-modal {
    text-align: center;
    width: 25%;
    height: 44px;
    font-weight: 600;
    border: 1px solid var(--input-border);
    background-color: var(--input-background);
    color: var(--primary-text);
    border-radius: 6px;
    font-size: 0.90rem;
}

.input-fornecedor-modal {
    width: 100%;
    height: 44px;
    font-weight: 600;
    border: 1px solid var(--input-border);
    background-color: var(--input-background);
    border-radius: 6px;    
}

.cod-fornecedor-modal:focus, .input-fornecedor-modal:focus {
    outline: 1px solid var(--input-focus);
    box-shadow: 0 0 5px 1px var(--input-focus);
}

.container-fornecedor-modal {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}

.form-inserir-fornecedor input[readonly] {
    border: 1px solid var(--input-border);
    background-color: var(--input-background);
    color: var(--input-readonly-color);
    cursor: not-allowed;
}

.flash-error {
    margin-top: 20px;
    font-weight: 800;
    text-align: center;
    color: var(--error);
    list-style: none;
}

.flash-success {
    margin-top: 20px;
    font-weight: 800;
    text-align: center;
    color: var(--success);
    list-style: none;
}

.flash-info {
    margin-top: 20px;
    font-weight: 800;
    text-align: center;
    color: var(--second-complement);
    list-style: none;
}

.modal-footer {
    background-color: var(--secondary-background);
}