@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9FAFB;
}

header {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    height: 60px;
    background: linear-gradient(to right, #18447F, #2C7BE5);
}

.navbar-logo img {
    max-height: 48px;
    max-width: 160px;
    width: auto;
    height: auto;
    display: block;
}

.nav {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}

.nav-link {
    color: white !important;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    outline: none;
    color: #D4AF37 !important;
}

.dropdown-menu {
    background-color: #D9D9D9;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 0 30px 3px #3D3D3D;
}

.nav-item.dropdown:hover .dropdown-menu,
.nav-item.dropdown:focus-within .dropdown-menu {
    display: block;
}

.dropdown-item {
    color: #3D3D3D;
    padding: 8px 20px;
    border-radius: 5px;
    transition: background 0.3s;
}

.dropdown-item:hover,
.dropdown-item:focus {
    outline: none;
    background-color: rgb(245, 245, 245);
}

.user a {
    color: white !important;
    text-decoration: none;
}

.user a:hover,
.user a:focus {
    outline: none;
    box-shadow: none;
    color: #D4AF37 !important;
}

.input_nova_senha,
.input_confirma_nova_senha {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 10px;
    border: 1px solid #D1D5DB;
    background-color: #F3F4F6;
    color: #111827;
}

.btn-troca-senha button {
    background: transparent;
    border: none;
}

.input_nova_senha:focus,
.input_confirma_nova_senha:focus {
    outline: none;
    border: 1px solid #2564eb56;
}

.modal-header {
    background-color: #1E3A8A;
    color: white !important;
}

.btn-close {
    filter: invert(1);
}

.modal-body {
    background-color: #D9D9D9;
    color: #3D3D3D;
}

.modal-content {
    box-shadow: 0 0 30px 3px #3D3D3D;
    border-radius: 12px;
}

/* ! FIM DO NAVBAR  */

.voltar {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: 0.2s;
}

.voltar:hover,
.voltar:focus {
    outline: none;
}

.titulo {
    text-align: center;
    margin: 36px 0 28px 0;
    color: #3D3D3D;
    font-size: 32px;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.container {
    max-width: 700px;
    margin: 56px auto 40px auto;
    background: #D9D9D9;
    box-shadow: 1px 1px 30px 3px #3D3D3D;
    padding: 36px 32px 28px 32px;
    border-radius: 16px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 14px 1px;
    margin-bottom: 18px;
}

.conj1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.conj1 div:first-child {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 20%;
}

.conj1 div:last-child {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 80%;
}

.conj2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.conj2 div:first-child {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 20%;
}

.conj2 div:last-child {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 80%;
}

.conj3 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.conj3 div:first-child {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 70%;
}

.conj3 div:last-child {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 30%;
}

.conj4 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.conj4 div:first-child {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 80%;
}

.conj4 div:last-child {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 20%;
}

.container-datas-aprovado {
    display: flex;
    flex-direction: row;
    gap: 48px;
    margin-left: 148px;
    margin-right: 148px;
}

.container-datas-encerrado {
    display: flex;
    flex-direction: row;
    gap: 48px;
    margin-left: 48px;
    margin-right: 48px;
}

.container-datas div input {
    text-align: center;
}

.formulario label {
    color: black;
}

.formulario input[type="text"] {
    width: 100%;
    padding: 8px 10px;
    color: #111827;
    border: 1px solid #D1D5DB;
    background-color: #F3F4F6;
    border-radius: 10px;
    transition: border 0.3s;
    margin-bottom: 2px;
}

.formulario input[type="text"]:focus {
    outline: none;
    border: 1px solid #2564eb56;
}

.formulario input[readonly] {
    background: #F3F4F6;
    color: #111827;
    cursor: not-allowed;
}

.formulario label[for="motivo_reprova_id"] {
    text-align: center;
    text-decoration: underline;
    margin-top: 8px;
    margin-bottom: -4px;
    text-decoration: none;
}

.formulario textarea#descricao_id {
    width: 100%;
    padding: 8px 10px;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    background: #F3F4F6;
    color: #111827;
    resize: vertical;
    min-height: 60px;
    box-sizing: border-box;
    grid-column: 1 / 3;
    transition: border 0.2s, background 0.2s;
    margin-bottom: 2px;
    white-space: pre-line;
}

.formulario textarea#descricao_id[readonly] {
    outline: 1px solid #F3F4F6;
    cursor: not-allowed;
    resize: none;
}

.formulario textarea#descricao_id[readonly]:focus {
    outline: none;
    border: 1px solid #2564eb56;
}

.formulario textarea#motivo_reprova_id {
    color: #111827;
    border: 1px solid red;
    box-shadow: 0 0 5px 1px red;
    background: #F3F4F6;
    width: 100%;
    padding: 8px 10px;
    font-size: 1rem;
    border-radius: 6px;
    resize: none;
    cursor: not-allowed;
    grid-column: 1 / 3;
    box-sizing: border-box;
    min-height: 60px;
    white-space: pre-line;
}

.formulario textarea#motivo_reprova_id:focus {
    outline: none;
}

.formulario select {
    border: 1px solid #D1D5DB;
    background: #F3F4F6;
    color: #111827;
    width: 100%;
    padding: 8px 8px 10px;
    border-radius: 6px;
    transition: border 0.2s, background 0.2s;
    margin-bottom: 2px;
    cursor: pointer;
    box-sizing: border-box;
}

.formulario select:disabled {
    background: #F3F4F6;
    color: #111827;
    cursor: not-allowed;
}

.formulario select:disabled:focus {
    outline: none;
    border: 1px solid #2564eb56;
}

.formulario option {
    background: #F3F4F6;
    color: #111827;
}

.formulario select option:checked {
    color: #2564eb;
}

.input-fornecedor {
    text-align: center;
    height: 41.6px;
    width: 25%;
    font-weight: 600;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
}

.container-fornecedor {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn-reprovados {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.botoes {
    display: flex;
    justify-content: space-between;
}

.cod-fornecedor-modal {
    text-align: center;
    width: 25%;
    height: 44px;
    border: 1px solid #D1D5DB;
    background-color: #F3F4F6;
    color: #111827;
    border-radius: 6px;
}

.input-fornecedor-modal {
    width: 100%;
    height: 44px;
    font-weight: 600;
    border: 1px solid #D1D5DB;
    background-color: #F3F4F6;
    border-radius: 6px;    
}

.cod-fornecedor-modal:focus, .input-fornecedor-modal:focus {
    outline: none;
    border: 1px solid #2564eb56;
}

.container-fornecedor-modal {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}

.form-inserir-fornecedor input[readonly] {
    border: 1px solid #D1D5DB;
    background-color: #F3F4F6;
    color: #111827;
    cursor: not-allowed;
}

.flash-error {
    margin-top: 20px;
    font-weight: 700;
    text-align: center;
    color: red;
    list-style: none;
}

.flash-success {
    margin-top: 20px;
    font-weight: 700;
    text-align: center;
    color: green;
    list-style: none;
}

.flash-info {
    margin-top: 20px;
    font-weight: 700;
    text-align: center;
    color: #2564eb;
    list-style: none;
}

.modal-footer {
    background-color: #D9D9D9;
}

/* ! Modal para alterar o valor */
.form-alterar-valor {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 14px 1px;
}

.form-alterar-valor label {
    font-weight: 600;
}

.form-alterar-valor input[type="text"] {
    color: #111827;
    background-color: #F3F4F6;
    border-radius: 10px;
    border: 1px solid #D1D5DB;
    padding: 5px;
    margin-bottom: 10px;
    transition: border 0.3s;
}

.form-alterar-valor input[type="text"]:focus {
    outline: none;
    border: 1px solid #2564eb56;
}