@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #1d3557;
    --secondary-color: #f1faee;
}

* {
    font-family: 'Poppins', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.nav {
    display: flex; /* Garante que os itens fiquem em linha */
    gap: 15px; /* Define um espaçamento uniforme entre os itens */
    list-style: none; /* Remove os marcadores de lista */
    padding: 0; /* Remove o padding padrão */
    margin: 0; /* Remove o margin padrão */
}

.navbar {
    background-color: var(--primary-color) !important;
}

.navbar-brand img {
    max-height: 50px;
    width: auto;
    margin-right: 10px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--secondary-color) !important;
}

.nav-link {
    color: var(--secondary-color) !important;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #a8dadc !important;
}

.user {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 8px 10px;
    border-radius: 20px; /* Bordas arredondadas */
    background: linear-gradient(45deg, #f1faee, #a8dadc); /* Gradiente azul */
    transition: all 0.3s ease; /* Transição suave */
}

.container-listas {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

