@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #1d3557;
    --secondary-color: #f1faee;
}

* {
    font-family: 'Poppins', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    max-width: 400px;
    margin: 60px auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    color: #1d3557;
}

.logo-kato {
    width: 150px;
    margin-bottom: 30px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.label-usuario,
.label-senha {
    text-align: left;
    margin-bottom: 5px;
    font-weight: 600;
    color: #333;
}

.input-usuario,
.input-senha {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.botao-enviar {
    padding: 12px;
    background-color: #1d3557;
    color: #ffffff;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao-enviar:hover {
    background-color: #457b9d;
}

.flash-error {
    text-align: center;
    color: #721c24;
    list-style: none;
}

.flash-success {
    text-align: center;
    color: #155724;
    list-style: none;
}

.flash-info {
    text-align: center;
    color: blue;
    list-style: none;
}