@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9FAFB;
}

header {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    height: 60px;
    background: linear-gradient(to right, #18447F, #2C7BE5);
}

.navbar-logo img {
    max-height: 48px;
    max-width: 160px;
    width: auto;
    height: auto;
    display: block;
}

.nav {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}

.nav-link {
    color: white !important;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    outline: none;
    color: #D4AF37 !important;
}

.dropdown-menu {
    background-color: #D9D9D9;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 0 30px 3px #3D3D3D;
}

.nav-item.dropdown:hover .dropdown-menu,
.nav-item.dropdown:focus-within .dropdown-menu {
    display: block;
}

.dropdown-item {
    color: #3D3D3D;
    padding: 8px 20px;
    border-radius: 5px;
    transition: background 0.3s;
}

.dropdown-item:hover,
.dropdown-item:focus {
    outline: none;
    background-color: rgb(245, 245, 245);
}

.user a {
    color: white !important;
    text-decoration: none;
}

.user a:hover,
.user a:focus {
    outline: none;
    box-shadow: none;
    color: #D4AF37 !important;
}

.input_nova_senha,
.input_confirma_nova_senha {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 10px;
    border: 1px solid #D1D5DB;
    background-color: #F3F4F6;
    color: #111827;
}

.btn-troca-senha button {
    background: transparent;
    border: none;
}

.input_nova_senha:focus,
.input_confirma_nova_senha:focus {
    outline: none;
    border: 1px solid #2564eb56;
}

.modal-header {
    background-color: #1E3A8A;
    color: white !important;
}

.btn-close {
    filter: invert(1);
}

.modal-body {
    background-color: #D9D9D9;
    color: #3D3D3D;
}

.modal-content {
    box-shadow: 0 0 30px 3px #3D3D3D;
    border-radius: 12px;
}

/* ! FIM DO NAVBAR  */