<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/controle_diretoria.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Processos KATO - Controle Diretoria</title>
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('blueprint_painel_solicitacoes.painel_solicitacoes') }}" class="navbar-logo">
                <img src="/static/img/Logo - Grupo Kato Branco.png" alt="Logo Kato Navbar">
            </a>

            <ul class="nav">
                <li class="nav-item dropdown">

                    <a href="#" class="nav-link dropdown-toggle text-white" id="solicitacoesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Solicitações
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="solicitacoesDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('blueprint_painel_solicitacoes.painel_solicitacoes') }}">Painel de Solicitações</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('blueprint_lancar_solicitacao.lancar_solicitacao') }}">Lançar Solcitação</a></li>
                    </ul>
                </li>

                {% if current_user.FUNCAO == 'ADMIN' %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-white" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ADMIN
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_gestao_usuarios.gestao_usuarios') }}">Gestão de Usuários</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_departamento.departamento') }}">Cadastro Departamento</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_gestao_usuarios.gestao_usuarios') }}">Cadastro Tipo Despesa </a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if current_user.FUNCAO == 'ADMIN' or current_user.FUNCAO == 'DIRETORIA' %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-white" id="diretoriaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Diretoria
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="diretoriaDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_controle_diretoria.controle_diretoria') }}">Controle Diretoria</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_controle_diretoria.controle_diretoria') }}">Visão Geral de Solicitações</a></li>
                        </ul>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('blueprint_principal.logout') }}">Logout</a>
                </li>
                <li class="user">
                    <a class="user" href="#">{{ usuario_logado }}</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>        
        <div class="container-tabela">
            <h1 class="titulo">Controle de Solicitações</h1>
            <table class="tabela">
                <thead>
                    <tr class="head-lista">
                        <th>ID</th>
                        <th>Emp./Rev.</th>
                        <th>Usuario</th>
                        <th>Departamento</th>
                        <th>Tipo da Despesa</th>
                        <th>Valor</th>
                        <th>Status</th>
                        <th class="opcoes">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    {% for solicitacao in query %}
                        <tr class="body-lista">
                            <td>{{ solicitacao.id }}</td>
                            <td>{{ solicitacao.EMPRESA }}.{{ solicitacao.REVENDA }}</td>
                            <td>{{ solicitacao.USUARIO_SOLICITANTE }}</td>
                            <td>{{ solicitacao.DEPARTAMENTO }}</td>
                            <td>{{ solicitacao.TIPO_DESPESA }}</td>
                            <td>{{ "{:,.2f}".format(solicitacao.VALOR).replace(",", "X").replace(".", ",").replace("X", ".") }}</td>
                            <td>{{ solicitacao.STATUS }}</td>

                            <td><a href="{{ url_for('blueprint_controle_diretoria.mais_info_cd', id=solicitacao.id) }}" class="btn btn-primary">Mais Informações</a></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5" class="nenhuma-solicitacao">Nenhuma solicitação foi encontrada</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>