<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="icon" href="{{ url_for('static', filename='img/Logo KATO Reduzida.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/departamento.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Despesas KATO - Cadastro de Departamentos</title>
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('blueprint_painel_solicitacoes.painel_solicitacoes') }}" class="navbar-logo">
                <img src="/static/img/Logo - Grupo Kato Branco.png" alt="Logo Kato Navbar">
            </a>

            <ul class="nav">
                <li class="nav-item dropdown">

                    <a href="#" class="nav-link dropdown-toggle text-white" id="solicitacoesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Solicitações
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="solicitacoesDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('blueprint_painel_solicitacoes.painel_solicitacoes') }}">Painel de Solicitações</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('blueprint_lancar_solicitacao.lancar_solicitacao') }}">Lançar Solcitação</a></li>
                    </ul>
                </li>

                {% if current_user.FUNCAO == 'ADMIN' %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-white" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ADMIN
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_gestao_usuarios.gestao_usuarios') }}">Gestão de Usuários</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_departamento.departamento') }}">Cadastro Departamento</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_tipo_despesa.tipo_despesa') }}">Cadastro Tipo Despesa </a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if current_user.FUNCAO == 'ADMIN' or current_user.FUNCAO == 'DIRETORIA' %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-white" id="diretoriaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Diretoria
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="diretoriaDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_controle_diretoria.controle_diretoria') }}">Controle Diretoria</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_geral_solicitacoes.geral_solicitacoes') }}">Visão Geral de Solicitações</a></li>
                        </ul>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('blueprint_principal.logout') }}">Logout</a>
                </li>
                <li class="user">
                    <a href="#">{{ usuario_logado }}</a>
                </li>

                <li class="btn-troca-senha">
                    <button data-bs-toggle="modal" data-bs-target="#modalTrocaSenha{{ current_user.id }}" data-toggle="tooltip" data-placement="bottom" title="Trocar Senha">
                        <img src="{{ url_for('static', filename='img/cadeado.png') }}" alt="Cadeado Troca Senha">
                    </button>
                </li>
            </ul>
        </nav>

        <div class="modal fade" id="modalTrocaSenha{{ current_user.id }}" tabindex="-1" aria-labelledby="modalTrocaSenha{{ current_user.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTrocaSenha{{ current_user.id }}">Troca Senha</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('blueprint_principal.troca_senha', id=current_user.id  ) }}" method="POST">
                            <label for="nova_senha_id" class="label_nova_senha">Digite uma nova senha</label>
                            <input type="text" id="nova_senha_id" name="nova_senha" class="input_nova_senha" required>

                            <label for="confirma_nova_senha_id" class="label_confirma_nova_senha">Confirme sua nova senha</label>
                            <input type="text" id="confirma_nova_senha_id" class="input_confirma_nova_senha" name="confirma_nova_senha" required>

                            <input type="submit" class="btn btn-success" value="Confirmar">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <h1 class="titulo">Cadastro de Departamento</h1>

        <form action="{{ url_for('blueprint_departamento.cadastrar') }}" method="POST" class="formulario">
            <label for="codigo_id" class="label-codigo">Código</label>
            <input type="text" id="codigo_id" class="input-codigo" name="codigo" pattern="\d{3}" maxlength="3" minlength="3" required>

            <label for="descricao_id" class="label-descricao">Descrição</label>
            <input type="text" id="descricao_id" class="input-descricao" name="descricao" required>

            <input type="submit" class="btn-enviar" value="Cadastrar">

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flashes">
                        {% for category, message in messages %}
                            <li class="flash-{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </form>

        <div class="container-lista">
            <h1>Lista de Gerenciamento de Departamentos</h1>

            <table class="tabela">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Descrição</th>
                        <th colspan="2">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in departamento %}
                        <tr>
                            <td>{{ d.CODIGO }}</td>
                            <td>{{ d.DESCRICAO }}</td>
                            <td class="opcao-edit">
                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal{{ d.CODIGO }}">Editar</button>

                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ d.CODIGO }}">Deletar</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% for d in departamento %}
                <div class="modal fade" id="deleteModal{{ d.CODIGO }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ d.CODIGO }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel{{ d.CODIGO }}">Confirmar ação</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                            </div>
                            <div class="modal-body">
                                Você tem certeza que deseja deletar o departamento <br> <strong>{{ d.CODIGO }} - {{ d.DESCRICAO }}</strong>?
                            </div>
                            <div class="modal-footer d-flex justify-content-end gap-2">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <form method="POST" action="{{ url_for('blueprint_departamento.deletar', id=d.CODIGO) }}">
                                    <button type="submit" class="btn btn-danger">Confirmar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="editModal{{ d.CODIGO }}" tabindex="-1" aria-labelledby="editModalLabel{{ d.CODIGO }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editModalLabel{{ d.CODIGO }}">Confirmar ação</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                            </div>
                            <div class="modal-body-edit">
                                <form method="POST" action="{{ url_for('blueprint_departamento.editar', id=d.CODIGO) }}" class="formulario-modal">
                                    <label for="edit_codigo_id" class="label_edit_codigo">Código</label>
                                    <input type="text" id="edit_codigo_id" name="edit_codigo" class="input_edit_codigo" value="{{ d.CODIGO }}">

                                    <label for="edit_descricao_id" class="label_edit_descricao">Descrição</label>
                                    <input type="text" id="edit_descricao_id" name="edit_descricao" class="input_edit_descricao" value="{{ d.DESCRICAO }}">

                                    <button type="submit" class="btn btn-success">Confirmar</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                </form>
                            </div>
                            <div class="modal-footer d-flex justify-content-center gap-2">
                                As alterações feitas não podem ser revertidas!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </main>

    <script src="{{ url_for('static', filename='js/departamento.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>