<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/departamento.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Processos KATO - Cadastro de Departamentos</title>
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('blueprint_painel_solicitacoes.painel_solicitacoes') }}" class="navbar-logo">
                <img src="/static/img/Logo - Grupo Kato Branco.png" alt="Logo Kato Navbar">
            </a>

            <ul class="nav">
                <li class="nav-item dropdown">

                    <a href="#" class="nav-link dropdown-toggle text-white" id="solicitacoesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Solicitações
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="solicitacoesDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('blueprint_painel_solicitacoes.painel_solicitacoes') }}">Painel de Solicitações</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('blueprint_lancar_solicitacao.lancar_solicitacao') }}">Lançar Solcitação</a></li>
                    </ul>
                </li>

                {% if current_user.FUNCAO == 'ADMIN' %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-white" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ADMIN
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_gestao_usuarios.gestao_usuarios') }}">Gestão de Usuários</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_gestao_usuarios.gestao_usuarios') }}">Cadastro Departamento</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_gestao_usuarios.gestao_usuarios') }}">Cadastro Tipo Despesa </a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if current_user.FUNCAO == 'ADMIN' or current_user.FUNCAO == 'DIRETORIA' %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-white" id="diretoriaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Diretoria
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="diretoriaDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_controle_diretoria.controle_diretoria') }}">Controle Diretoria</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_controle_diretoria.controle_diretoria') }}">Visão Geral de Solicitações</a></li>
                        </ul>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('blueprint_principal.logout') }}">Logout</a>
                </li>
                <li class="user">
                    <a class="user" href="#">{{ usuario_logado }}</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <h1 class="titulo">Cadastro de Departamento</h1>

        <form action="{{ url_for('blueprint_departamento.cadastrar_departamento') }}" method="POST" class="formulario">
            <label for="codigo_id" class="label-codigo">Código</label>
            <input type="text" id="codigo_id" class="input-codigo" name="codigo">

            <label for="descricao_id" class="label-descricao">Descrição</label>
            <input type="text" id="descricao_id" class="label-descricao" name="descricao">

            <input type="submit" class="btn-enviar">

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flashes">
                        {% for category, message in messages %}
                            <li class="flash-{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </form>

        <div class="container-lista">
            <h1>Lista de Gerenciamento de Departamentos</h1>

            <table class="tabela">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Código</th>
                        <th>Descrição</th>
                        <th colspan="2">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in departamento %}
                        <tr>
                            <td>{{ d.id }}</td>
                            <td>{{ d.CODIGO }}</td>
                            <td>{{ d.DESCRICAO }}</td>
                            <td>
                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">Editar</button>
                            </td>
                            <td>
                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Deletar</button>
                            </td>
                        </tr>

                        <div class="modal fade" id="deleteModal{{ u.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ u.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel{{ u.id }}">Confirmar ação</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                                    </div>
                                    <div class="modal-body">
                                        Você tem certeza que deseja deletar o usuário <strong>{{ u.USUARIO }}</strong>?
                                    </div>
                                    <div class="modal-footer d-flex justify-content-end gap-2">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <form method="POST" action="{{ url_for('blueprint_gestao_usuarios.deletar_usuario', id=u.id) }}">
                                            <button type="submit" class="btn btn-danger">Confirmar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>


    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>