<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="icon" href="{{ url_for('static', filename='img/Logo KATO Reduzida.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/geral_solicitacoes.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Despesas KATO - Visão Geral de Solicitações</title>
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('blueprint_painel_solicitacoes.painel_solicitacoes') }}" class="navbar-logo">
                <img src="/static/img/Logo - Grupo Kato Branco.png" alt="Logo Kato Navbar">
            </a>

            <ul class="nav">
                <li class="nav-item dropdown">

                    <a href="#" class="nav-link dropdown-toggle text-white" id="solicitacoesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Solicitações
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="solicitacoesDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('blueprint_painel_solicitacoes.painel_solicitacoes') }}">Painel de Solicitações</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('blueprint_lancar_solicitacao.lancar_solicitacao') }}">Lançar Solicitação</a></li>
                    </ul>
                </li>

                {% if current_user.FUNCAO == 'ADMIN' %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-white" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ADMIN
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_gestao_usuarios.gestao_usuarios') }}">Gestão de Usuários</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if current_user.FUNCAO == 'ADMIN' or current_user.FUNCAO == 'DIRETORIA' %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-white" id="diretoriaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Diretoria
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="diretoriaDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_controle_diretoria.controle_diretoria') }}">Controle Diretoria</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_geral_solicitacoes.geral_solicitacoes') }}">Visão Geral de Solicitações</a></li>
                        </ul>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('blueprint_principal.logout') }}">Logout</a>
                </li>
                <li class="user">
                    <a href="#">{{ usuario_logado }}</a>
                </li>

                <li class="btn-troca-senha">
                    <button data-bs-toggle="modal" data-bs-target="#modalTrocaSenha{{ current_user.id }}" data-toggle="tooltip" data-placement="bottom" title="Trocar Senha">
                        <img src="{{ url_for('static', filename='img/cadeado.png') }}" alt="Cadeado Troca Senha">
                    </button>
                </li>
            </ul>
        </nav>

        <div class="modal fade" id="modalTrocaSenha{{ current_user.id }}" tabindex="-1" aria-labelledby="modalTrocaSenha{{ current_user.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTrocaSenha{{ current_user.id }}">Troca Senha</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('blueprint_principal.troca_senha', id=current_user.id  ) }}" method="POST">
                            <label for="nova_senha_id" class="label_nova_senha">Digite uma nova senha</label>
                            <input type="text" id="nova_senha_id" name="nova_senha" class="input_nova_senha" required>

                            <label for="confirma_nova_senha_id" class="label_confirma_nova_senha">Confirme sua nova senha</label>
                            <input type="text" id="confirma_nova_senha_id" class="input_confirma_nova_senha" name="confirma_nova_senha" required>

                            <input type="submit" class="btn btn-success" value="Confirmar">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <h1 class="titulo">Visão Geral de Solicitações</h1>
            <h6 class="sub-titulo">Aqui você pode visualizar as Solicitações de todos os usuários</h3>

            <div class="container-btn">
                <form method="GET" class="formulario-btn" id="filtroForm">
                    <div class="filtros">
                        <input type="hidden" name="filtro" id="filtroInput" value="{{ filtro }}">
                        <button type="button" value="PENDENTE" class="btn btn-outline-primary {% if filtro == 'PENDENTE' %}active{% endif %}" onclick="setFiltro('PENDENTE')">Pendentes</button>
                        <button type="button" value="APROVADO" class="btn btn-outline-success {% if filtro == 'APROVADO' %}active{% endif %}" onclick="setFiltro('APROVADO')">Aprovados</button>
                        <button type="button" value="REPROVADO" class="btn btn-outline-danger {% if filtro == 'REPROVADO' %}active{% endif %}" onclick="setFiltro('REPROVADO')">Reprovados</button>
                        <button type="button" value="ENCERRADO" class="btn btn-outline-warning {% if filtro == 'ENCERRADO' %}active{% endif %}" onclick="setFiltro('ENCERRADO')">Encerrados</button>
                        <button type="button" value="TODOS" class="btn btn-outline-secondary {% if filtro == 'TODOS' %}active{% endif %}" onclick="setFiltro('TODOS')">Todos</button>
                    </div>
                </form>
            </div>

            <table class="tabela">
                <thead>
                    <tr class="head-lista">
                        <th>Código</th>
                        <th>Emp./Rev</th>
                        <th>Usuario</th>
                        <th>Departamento</th>
                        <th>Tipo da Despesa</th>
                        <th>Valor</th>
                        <th>Status</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in solicitacoes %}
                        <tr class="body-lista">
                            <td>{{ s['id'] }}</td>
                            <td>{{ s['empresa'] }}.{{ s['revenda'] }}</td>
                            <td>{{ s['usuario_solicitante'] }}</td>
                            <td>{{ s['departamento_codigo'] }} - {{ s['departamento_descricao'] }}</td>
                            <td>{{ s['tipo_despesa_codigo'] }} - {{ s['tipo_despesa_descricao'] }}</td>
                            <td>{{ "{:,.2f}".format(s['valor']).replace(",", "X").replace(".", ",").replace("X", ".") }}</td>
                            <td>{{ s['status'] }}</td>
                            <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#infoModal{{ s['id'] }}">Expandir</button></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7" class="nenhuma-solicitacao">Nenhuma solicitação foi encontrada</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% for s in solicitacoes %}
                <div class="modal fade" id="infoModal{{ s['id'] }}" tabindex="-1" aria-labelledby="infoModalLabel{{ s['id'] }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="infoModalLabel{{ s['id'] }}">Confirmar ação</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                            </div>
                            <div class="modal-body-edit">
                                <form method="POST" action="#" class="formulario-modal">
                                    <label for="id_id">ID</label>
                                    <input type="text" id="id_id" readonly value="{{ s['id'] }}">

                                    <label for="empresa_id">Emp./Rev.</label>
                                    <input type="text" id="empresa_id" readonly value="{{ s['empresa'] }}.{{ s['revenda'] }}">

                                    <label for="usuario_id">Usuário</label>
                                    <input type="text" id="usuario_id" readonly value="{{ s['usuario_solicitante'] }}">

                                    <label for="departamento_id">Departamento</label>
                                    <input type="text" id="departamento_id" readonly value="{{ s['departamento_codigo'] }} - {{ s['departamento_descricao'] }}">

                                    <label for="tipo_despesa_id">Tipo da Despesa</label>
                                    <input type="text" id="tipo_despesa_id" readonly value="{{ s['tipo_despesa_codigo'] }} - {{ s['departamento_descricao'] }}">

                                    <label for="descricao_id">Descrição</label>
                                    <textarea id="descricao_id" readonly>{{ s['descricao'] }}</textarea>

                                    <label for="valor_id">Valor</label>
                                    <input type="text" id="valor_id" readonly value="R${{ s['valor'] }}">

                                    <label for="status_id">Status</label>
                                    <input type="text" id="status_id" readonly value="{{ s['status'] }}">

                                    {% if s['status'] == 'REPROVADO' %}
                                        <label for="motivo_reprova_id">Motivo Reprova</label>
                                        <textarea name="motivo_reprova" id="motivo_reprova_id">{{ s['motivo_reprova'] }}</textarea>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/geral_solicitacoes.js') }}"></script>

    <script>
        function setFaviconBasedOnTheme() {
            const darkMode = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
            const favicon = document.querySelector("link[rel~='icon']") || document.createElement('link');
            favicon.rel = 'icon';
            favicon.href = darkMode ? '/static/img/favicon_branca.png' : '/static/img/favicon_preta.png';

            // Remove favicon antigo e adiciona o novo
            document.head.querySelectorAll("link[rel~='icon']").forEach(el => el.remove());
            document.head.appendChild(favicon);
        }

        // Chamada inicial
        setFaviconBasedOnTheme();

        // Escuta mudanças no tema
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', setFaviconBasedOnTheme);
    </script>
</body>
</html>