<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="icon" href="{{ url_for('static', filename='img/Logo KATO Reduzida.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mais_info_sol.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Despesas KATO - Painel de Solicitações</title>
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('blueprint_painel_solicitacoes.painel_solicitacoes') }}" class="navbar-logo">
                <img src="/static/img/Logo - Grupo Kato Branco.png" alt="Logo Kato Navbar">
            </a>

            <ul class="nav">
                <li class="nav-item dropdown">

                    <a href="#" class="nav-link dropdown-toggle text-white" id="solicitacoesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Solicitações
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="solicitacoesDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('blueprint_painel_solicitacoes.painel_solicitacoes') }}">Painel de Solicitações</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('blueprint_lancar_solicitacao.lancar_solicitacao') }}">Lançar Solicitação</a></li>
                    </ul>
                </li>

                {% if current_user.FUNCAO == 'Administrador' %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-white" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ADMIN
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_gestao_usuarios.gestao_usuarios') }}">Gestão de Usuários</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if current_user.FUNCAO == 'Administrador' or current_user.FUNCAO == 'Gerente' or current_user.FUNCAO == 'Corporativo' %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-white" id="aprovadorDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Aprovações
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="aprovadorDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_aprovacoes.aprovacoes') }}">Controle de Aprovações</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_geral_solicitacoes.geral_solicitacoes') }}">Visão Geral de Solicitações</a></li>
                        </ul>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('blueprint_principal.logout') }}">Logout</a>
                </li>
                <li class="user">
                    <a href="#">{{ usuario_logado }}</a>
                </li>

                <li class="btn-troca-senha" data-bs-toggle="tooltip" data-placement="bottom" title="Trocar Senha">
                    <button data-bs-toggle="modal" data-bs-target="#modalTrocaSenha{{ current_user.id }}">
                        <img src="{{ url_for('static', filename='img/lock-reset.svg') }}" alt="Cadeado Troca Senha">
                    </button>
                </li>
            </ul>
        </nav>

        <div class="modal fade" id="modalTrocaSenha{{ current_user.id }}" tabindex="-1" aria-labelledby="modalTrocaSenha{{ current_user.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTrocaSenha{{ current_user.id }}">Troca Senha</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('blueprint_principal.troca_senha', id=current_user.id  ) }}" method="POST">
                            <label for="nova_senha_id" class="label_nova_senha">Digite uma nova senha</label>
                            <input type="text" id="nova_senha_id" name="nova_senha" class="input_nova_senha" required>

                            <label for="confirma_nova_senha_id" class="label_confirma_nova_senha">Confirme sua nova senha</label>
                            <input type="text" id="confirma_nova_senha_id" class="input_confirma_nova_senha" name="confirma_nova_senha" required>

                            <input type="submit" class="btn btn-success" value="Confirmar">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <a href="{{ url_for('blueprint_painel_solicitacoes.painel_solicitacoes') }}" class="voltar"><- Voltar</a>

            <h2 class="titulo">Mais Informações - Solicitações</h2>

            <form action="{{ url_for('blueprint_painel_solicitacoes.salvar_edicao', id=solicitacao['id']) }}" method="POST" class="formulario">
                <div class="conj1">
                    <div>
                        <label for="codigo_apollo_solicitacao_id">ID</label>
                        <input type="text" readonly id="codigo_apollo_solicitacao_id" name="codigo_apollo" value="{{ solicitacao['id'] }}">
                    </div>
                    <div>
                        <label for="empresa_revenda_id">Emp./Rev.</label>
                        <input type="text" readonly id="empresa_revenda_id" name="empresa_revenda" value="{{ solicitacao['empresa'] }}.{{ solicitacao['revenda'] }}">
                    </div>
                </div>
                <div class="conj2">
                    <div>
                        <label for="nro_processo_id">Processo ERP</label>
                        <input type="text" readonly id="nro_processo_id" name="nro_processo" value="{% if solicitacao['nro_processo'] == None %} - {% else %} {{ solicitacao['nro_processo'] }} {% endif %}">
                    </div>
                    <div>
                        <label for="usuario_solicitante_id">Usuário Solicitante</label>
                        <input type="text" readonly id="usuario_solicitante_id" name="usuario_solicitante" value="{{ solicitacao['usuario_solicitante'] }}">
                    </div>
                </div>
                

                {% if solicitacao['nro_os'] == None %}

                {% else %}
                    <div>
                        <label for=" nro_os_id">Nro. O.S</label>
                        <input type="text" readonly id="nro_os_id" name="nro_os" value="{{ solicitacao['nro_os'] }}">
                    </div>
                {% endif %}

                <div>
                    <label for="codigo_fornecedor_id" class="label-fornecedor">Cód. Fornecedor</label>
                    <div class="container-fornecedor">
                        <input type="number" name="fornecedor" id="codigo_fornecedor_id_{{ solicitacao['id'] }}" class="input-fornecedor" readonly value="{{ solicitacao['fornecedor'] }}">
                        <input type="text" class="mostrar-fornecedor" id="descricao_fornecedor_id_{{ solicitacao['id'] }}" readonly>
                    </div>
                </div>

                {% if solicitacao['status'] == 'APROVADO' %}
                    <div>
                        <label for="usuario_autorizante_id">Usuario Autorizante</label>
                        <input type="text" readonly id="usuario_autorizante_id" name="usuario_autorizante" value="{{ usuario_autorizante['login'] }}">
                    </div>
                {% endif %}

                {% if solicitacao['status'] == 'PENDENTE' %}
                    <div class="conj4">    
                        <div>
                            <label for="origem_id">Origem</label>
                            <select name="origem" id="origem_id" disabled>
                                {% for o in origem %}
                                    <option value="{{ o['origem'] }}" {% if o['origem'] == solicitacao['origem_sol'] %}selected{% endif %}>
                                        {{ o['origem'] }} - {{ o['des_origem'] }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div>
                            <label for="data_solicitacao_id">Dta. Solicitação</label>
                            <input type="text" readonly id="data_solicitacao_id" name="data_solicitacao" value="{{ solicitacao['data_solicitacao'] }}">
                        </div>
                    </div>
                {% else %}
                    <div>
                        <label for="origem_id">Origem</label>
                        <select name="origem" id="origem_id" disabled>
                            {% for o in origem %}
                                <option value="{{ o['origem'] }}" {% if o['origem'] == solicitacao['origem_sol'] %}selected{% endif %}>
                                    {{ o['origem'] }} - {{ o['des_origem'] }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}

                <div class="conj3">
                    <div>
                        <label for="departamento_id">Departamento</label>
                        <select name="departamento" id="departamento_id" class="input-departamento" disabled>
                            {% for d in departamento %}
                                <option value="{{ d['departamento'] }}" {% if d['departamento'] == solicitacao['departamento_sol'] %}selected{% endif %}>
                                    {{ d['departamento'] }} - {{ d['nome'] }}
                                </option>]
                            {% endfor %}
                        </select>
                    </div>

                    <div>
                        <label for="valor_id">Valor</label>
                        <input type="text" readonly id="valor_id" name="valor" value="R$ {{ "{:,.2f}".format(solicitacao['valor']).replace(',',"X").replace(".", ",").replace("X", ".") }}">
                    </div>
                </div>

                {% if solicitacao['status'] == 'APROVADO' %}
                    <div class="container-datas-aprovado">
                        <div>
                            <label for="data_solicitacao_id">Dta. Solicitação</label>
                            <input type="text" readonly id="data_solicitacao_id" name="data_solicitacao" value="{{ solicitacao['data_solicitacao'] }}">
                        </div>

                        <div>
                            <label for="data_aprovacao_id">Dta. Aprovação</label>
                            <input type="text" readonly id="data_aprovacao_id" name="data_aprovacao" value="{{ solicitacao['data_aprovacao'] }}">
                        </div>
                    </div>
                {% elif solicitacao['status'] == 'ENCERRADO' %}
                    <div class="container-datas-encerrado">
                        <div>
                            <label for="data_solicitacao_id">Dta. Solicitação</label>
                            <input type="text" readonly id="data_solicitacao_id" name="data_solicitacao" value="{{ solicitacao['data_solicitacao'] }}">
                        </div>

                        <div>
                            <label for="data_aprovacao_id">Dta. Aprovação</label>
                            <input type="text" readonly id="data_aprovacao_id" name="data_aprovacao" value="{{ solicitacao['data_aprovacao'] }}">
                        </div>

                        <div>
                            <label for="data_encerramento_id">Dta. Encerramento</label>
                            <input type="text" readonly id="data_encerramento_id" name="data_encerramento" value="{{ solicitacao['data_encerramento'] }}">
                        </div>
                    </div>
                {% endif %}

                <div>
                    <label for="descricao_id">Descrição</label>
                    <textarea readonly id="descricao_id" name="descricao" rows="3">{{ solicitacao['descricao'] }}</textarea>
                </div>

                {% if solicitacao['status'] == 'REPROVADO' %}
                    <label for="motivo_reprova_id">Motivo da Reprova</label>
                    <textarea readonly id="motivo_reprova_id" name="motivo_reprova" rows="3">{{ solicitacao['motivo_reprova'] }}</textarea>

                    <div id="botoes_edicao_id">
                        <button type="submit" class="btn btn-success">Salvar</button>
                        <button type="button" class="btn btn-danger" id="btn-cancelar" style="margin-left: 5px;">Cancelar</button>
                    </div>
                {% endif %}
            </form>

            <div class="botoes">
                {% if solicitacao['status'] == 'PENDENTE' %}
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalExcluir{{ solicitacao['id'] }}">Cancelar Envio</button>
                    {% if solicitacao['fornecedor'] == None %}
                        <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modalFornecedor{{ solicitacao['id'] }}">Inserir Fornecedor</button>
                    {% else %}
                        <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modalFornecedor{{ solicitacao['id'] }}">Alterar Fornecedor</button>
                    {% endif %}
                {% elif solicitacao['status'] == 'REPROVADO' %}
                    <div class="btn-reprovados">
                        <div class="btn-exc-edit">
                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalExcluir{{ solicitacao['id'] }}">Excluir</button>
                            <button type="button" class="btn btn-primary" id="btn-editar">Editar</button>
                        </div>
                        <div class="btn-reenviar">
                            <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalReenviar{{ solicitacao['id'] }}">Reenviar</button>
                        </div>
                    </div>
                {% elif solicitacao['status'] == 'APROVADO' %}
                    {% if solicitacao['usuario_autorizante'] == current_user.CODIGO_APOLLO or current_user.FUNCAO == 'Administrador' %}
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDesautorizar{{ solicitacao['id'] }}">Desautorizar Solicitação</button>
                    {% endif %}
                    <a href="{{ url_for('blueprint_painel_solicitacoes.download_pdf', id=solicitacao['id']) }}" class="btn btn-info">Baixar PDF</a>
                {% elif solicitacao['status'] == 'ENCERRADO' %}
                    <a href="{{ url_for('blueprint_painel_solicitacoes.download_pdf', id=solicitacao['id']) }}" class="btn btn-info">Baixar PDF</a>
                {% endif %}

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class="flashes">
                            {% for category, message in messages %}
                                <li class="flash-{{ category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
        </div>

        <div class="modal fade" id="modalFornecedor{{ solicitacao['id'] }}" tabindex="-1" aria-labelledby="modalFornecedorLabel{{ solicitacao['id'] }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalFornecedorLabel{{ solicitacao['id'] }}">Confirmar ação</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('blueprint_painel_solicitacoes.inserir_fornecedor', id=solicitacao['id']) }}" method="POST" class="form-inserir-fornecedor">
                            <label for="inserir_fornecedor_id">Inserir Fornecedor</label>
                            <div class="container-fornecedor-modal">
                                <input type="number" class="cod-fornecedor-modal" id="inserir_fornecedor_id" name="inserir-fornecedor-modal">
                                <input type="text" class="input-fornecedor-modal" id="descricao_fornecedor_modal_id_{{ solicitacao['id'] }}" name="desc-inserir-fornecedor-modal" readonly>
                            </div>

                            <input type="submit" class="btn btn-success" value="Confirmar">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalDesautorizar{{ solicitacao['id'] }}" tabindex="-1" aria-labelledby="modalDesautorizarLabel{{ solicitacao['id'] }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalDesautorizarLabel{{ solicitacao['id'] }}">Confirmar ação</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        Você tem certeza de que deseja <b style="color: red;">Desautorizar</b> esta solicitação? Ela voltará a ficar PENDENTE.
                    </div>
                    <div class="modal-footer d-flex justify-content-end gap-2">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <form method="POST" action="{{ url_for('blueprint_painel_solicitacoes.desautorizar_solicitacao', id=solicitacao['id']) }}">
                            <button type="submit" class="btn btn-success">Confirmar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalReenviar{{ solicitacao['id'] }}" tabindex="-1" aria-labelledby="modalReenviarLabel{{ solicitacao['id'] }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalReenviarLabel{{ solicitacao['id'] }}">Confirmar ação</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        Você tem certeza de que deseja <b>Reenviar</b> esta solicitação? Ela voltará a ficar PENDENTE.
                    </div>
                    <div class="modal-footer d-flex justify-content-end gap-2">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <form method="POST" action="{{ url_for('blueprint_painel_solicitacoes.reenviar_solicitacao', id=solicitacao['id']) }}">
                            <button type="submit" class="btn btn-primary">Confirmar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalExcluir{{ solicitacao['id'] }}" tabindex="-1" aria-labelledby="modalExcluirLabel{{ solicitacao['id'] }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalExcluirLabel{{ solicitacao['id'] }}">Confirmar ação</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        Você tem certeza que deseja <b style="color: red;">Excluir</b> essa solicitação? Esta ação não pode ser revertida
                    </div>
                    <div class="modal-footer d-flex justify-content-end gap-2">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <form method="POST" action="{{ url_for('blueprint_painel_solicitacoes.excluir_solicitacao', id=solicitacao['id']) }}">
                            <button type="submit" class="btn btn-success">Confirmar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/mais_info_sol.js') }}"></script>
    <script>
        function setFaviconBasedOnTheme() {
            const darkMode = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
            const favicon = document.querySelector("link[rel~='icon']") || document.createElement('link');
            favicon.rel = 'icon';
            favicon.href = darkMode ? '/static/img/favicon_branca.png' : '/static/img/favicon_preta.png';

            // Remove favicon antigo e adiciona o novo
            document.head.querySelectorAll("link[rel~='icon']").forEach(el => el.remove());
            document.head.appendChild(favicon);
        }

        document.addEventListener('DOMContentLoaded', function () {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
            });
        });

        // Chamada inicial
        setFaviconBasedOnTheme();

        // Escuta mudanças no tema
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', setFaviconBasedOnTheme);
    </script>
</body>
</html>