<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="icon" href="{{ url_for('static', filename='img/Logo KATO Reduzida.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mais_info_cd.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Despesas KATO - Controle Diretoria</title>
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('blueprint_painel_solicitacoes.painel_solicitacoes') }}" class="navbar-logo">
                <img src="/static/img/Logo - Grupo Kato Branco.png" alt="Logo Kato Navbar">
            </a>

            <ul class="nav">
                <li class="nav-item dropdown">

                    <a href="#" class="nav-link dropdown-toggle text-white" id="solicitacoesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Solicitações
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="solicitacoesDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('blueprint_painel_solicitacoes.painel_solicitacoes') }}">Painel de Solicitações</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('blueprint_lancar_solicitacao.lancar_solicitacao') }}">Lançar Solcitação</a></li>
                    </ul>
                </li>

                {% if current_user.FUNCAO == 'ADMIN' %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-white" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ADMIN
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_gestao_usuarios.gestao_usuarios') }}">Gestão de Usuários</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_departamento.departamento') }}">Cadastro Departamento</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_tipo_despesa.tipo_despesa') }}">Cadastro Tipo Despesa </a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if current_user.FUNCAO == 'ADMIN' or current_user.FUNCAO == 'DIRETORIA' %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-white" id="diretoriaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Diretoria
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="diretoriaDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_controle_diretoria.controle_diretoria') }}">Controle Diretoria</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_geral_solicitacoes.geral_solicitacoes') }}">Visão Geral de Solicitações</a></li>
                        </ul>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('blueprint_principal.logout') }}">Logout</a>
                </li>
                <li class="user">
                    <a href="#">{{ usuario_logado }}</a>
                </li>

                <li class="btn-troca-senha">
                    <button data-bs-toggle="modal" data-bs-target="#modalTrocaSenha{{ current_user.id }}" data-toggle="tooltip" data-placement="bottom" title="Trocar Senha">
                        <img src="{{ url_for('static', filename='img/cadeado.png') }}" alt="Cadeado Troca Senha">
                    </button>
                </li>
            </ul>
        </nav>

        <div class="modal fade" id="modalTrocaSenha{{ current_user.id }}" tabindex="-1" aria-labelledby="modalTrocaSenha{{ current_user.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTrocaSenha{{ current_user.id }}">Troca Senha</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('blueprint_principal.troca_senha', id=current_user.id  ) }}" method="POST">
                            <label for="nova_senha_id" class="label_nova_senha">Digite uma nova senha</label>
                            <input type="text" id="nova_senha_id" name="nova_senha" class="input_nova_senha">

                            <label for="confirma_nova_senha_id" class="label_confirma_nova_senha">Confirme sua nova senha</label>
                            <input type="text" id="confirma_nova_senha_id" class="input_confirma_nova_senha" name="confirma_nova_senha" required>

                            <input type="submit" class="btn btn-success" value="Confirmar">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" required>Cancelar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <a href="{{ url_for('blueprint_controle_diretoria.controle_diretoria') }}" class="voltar"><- Voltar</a>

            <h2 class="titulo">Mais Informações</h2>

            <form action="#" method="POST" class="formulario">
                <label for="id_solicitacao_id">Código:</label>
                <input type="text" readonly id="id_solicitacao_id" name="id" value="{{ solicitacao.id }}">

                <label for="empresa_revenda_id">Emp./Rev.:</label>
                <input type="text" readonly id="empresa_revenda_id" name="empresa_revenda" value="{{ solicitacao.EMPRESA }}.{{ solicitacao.REVENDA }}">

                <label for="usuario_solicitante_id">Usuário Solicitante:</label>
                <input type="text" readonly id="usuario_solicitante_id" name="usuario_solicitante" value="{{ solicitacao.USUARIO_SOLICITANTE }}">

                <label for="departamento_id">Departamento:</label>
                <input type="text" readonly id="departamento_id" name="departamento" value="{{ solicitacao.DEPARTAMENTO }}">

                <label for="tipo_despesa_id">Tipo da Despesa:</label>
                <input type="text" readonly id="tipo_despesa_id" name="tipo_despesa" value="{{ solicitacao.TIPO_DESPESA }}">

                <label for="descricao_id">Descrição:</label>
                <input type="text" readonly id="descricao_id" name="descricao" value="{{ solicitacao.DESCRICAO }}">

                <label for="valor_id">Valor:</label>
                <input type="text" readonly id="valor_id" name="valor" value="R$ {{ "{:,.2f}".format(solicitacao.VALOR).replace(',',"X").replace(".", ",").replace("X", ".") }}">
            </form>

            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#confirmModal{{ solicitacao.id }}">Aprovar</button>

            <div class="modal fade" id="confirmModal{{ solicitacao.id }}" tabindex="-1" aria-labelledby="confirmModalLabel{{ solicitacao.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmModalLabel{{ solicitacao.id }}">Confirmar ação</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                        </div>
                        <div class="modal-body">
                            Você tem certeza que deseja <b>APROVAR</b> essa solicitação?
                        </div>
                        <div class="modal-footer d-flex justify-content-end gap-2">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <form method="POST" action="{{ url_for('blueprint_controle_diretoria.mudar_status') }}">
                                <input type="hidden" name="id" value="{{ solicitacao.id }}">
                                <input type="hidden" name="status" value="APROVADO">
                                <input type="submit" value="Aprovar" class="btn btn-success">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalReprovar{{ solicitacao.id }}">Reprovar</button>

            <div class="modal fade" id="modalReprovar{{ solicitacao.id }}" tabindex="-1" aria-labelledby="modalReprovarLabel{{ solicitacao.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalReprovarLabel{{ solicitacao.id }}">Confirmar ação</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                        </div>
                        <div class="modal-body">
                            Você tem certeza que deseja <b>REPROVAR</b> essa solicitação?

                            <form method="POST" action="{{ url_for('blueprint_controle_diretoria.mudar_status') }}" class="modal-form">
                                <label for="motivo_reprova_id">Descreva um motivo para a reprova</label>
                                <input type="text" id="motivo_reprova_id" name="motivo_reprova">

                                <input type="hidden" name="id" value="{{ solicitacao.id }}">
                                <input type="hidden" name="status" value="REPROVADO">

                                <div class="botoes">
                                    <input type="submit" value="Reprovar" class="btn btn-danger">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer d-flex justify-content-end gap-2">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>