<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Processos KATO - Lançar Solicitação</title>
</head>
<body>
    <header> 
        <nav class="navbar navbar-light bg-dark px-4">
            <a class="navbar-brand text-white fw-bold" href="#">Gestão de Despesas</a>
            <ul class="nav">
                <li class="nav-item">                   
                    <a class="nav-link text-white" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Painel de Solicitações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Lançar Solicitação</a>
                </li>
                {% if current_user.FUNCAO == 'ADMIN' %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ url_for('blueprint_gestao_usuarios.pagina_gestao_usuarios') }}">Gestão de Usuários</a>
                    </li>
                {% endif %}
                {% if current_user.FUNCAO == 'ADMIN' or current_user.FUNCAO == 'DIRETORIA' %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Controle (Diretoria)</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Logout</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Lançamento de Solicitação</h1>

        <form action="#" method="POST" class="formulario">
            <label for=""></label>
        </form>
    </main>
</body>
</html>