<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="icon" href="{{ url_for('static', filename='img/Logo KATO Reduzida.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/painel_solicitacoes.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Despesas KATO - Painel de Solicitações</title>
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('blueprint_painel_solicitacoes.painel_solicitacoes') }}" class="navbar-logo">
                <img src="/static/img/Logo - Grupo Kato Branco.png" alt="Logo Kato Navbar">
            </a>

            <ul class="nav">
                <li class="nav-item dropdown">

                    <a href="#" class="nav-link dropdown-toggle text-white" id="solicitacoesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Solicitações
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="solicitacoesDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('blueprint_painel_solicitacoes.painel_solicitacoes') }}">Painel de Solicitações</a></li>
                        {% if usuario_logado != 'ADMIN' %}
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_lancar_solicitacao.lancar_solicitacao') }}">Lançar Solicitação</a></li>
                        {% endif %}
                    </ul>
                </li>

                {% if current_user.FUNCAO == 'Administrador' %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-white" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ADMIN
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_gestao_usuarios.gestao_usuarios') }}">Gestão de Usuários</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if current_user.FUNCAO == 'Administrador' or current_user.FUNCAO == 'Gerente' or current_user.FUNCAO == 'Corporativo' %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-white" id="aprovadorDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Aprovações
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="aprovadorDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_aprovacoes.aprovacoes') }}">Controle de Aprovações</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('blueprint_geral_solicitacoes.geral_solicitacoes') }}">Visão Geral de Solicitações</a></li>
                        </ul>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('blueprint_principal.logout') }}">Logout</a>
                </li>
                <li class="user">
                    <a href="#">{{ usuario_logado }}</a>
                </li>

                <li class="btn-troca-senha" data-bs-toggle="tooltip" data-placement="bottom" title="Trocar Senha">
                    <button data-bs-toggle="modal" data-bs-target="#modalTrocaSenha{{ current_user.id }}">
                        <img src="{{ url_for('static', filename='img/lock-reset.svg') }}" alt="Cadeado Troca Senha">
                    </button>
                </li>
            </ul>
        </nav>

        <div class="modal fade" id="modalTrocaSenha{{ current_user.id }}" tabindex="-1" aria-labelledby="modalTrocaSenha{{ current_user.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTrocaSenha{{ current_user.id }}">Troca Senha</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('blueprint_principal.troca_senha', id=current_user.id  ) }}" method="POST">
                            <label for="nova_senha_id" class="label_nova_senha">Digite uma nova senha</label>
                            <input type="text" id="nova_senha_id" name="nova_senha" class="input_nova_senha" required>

                            <label for="confirma_nova_senha_id" class="label_confirma_nova_senha">Confirme sua nova senha</label>
                            <input type="text" id="confirma_nova_senha_id" class="input_confirma_nova_senha" name="confirma_nova_senha" required>

                            <input type="submit" class="btn btn-success" value="Confirmar">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <h1 class="titulo">Painel de Solicitações</h1>

            <div class="container-btn">
                <form method="GET" class="formulario-btn">
                    <button type="submit" name="filtro" value="PENDENTE" class="btn-pendente {% if filtro == 'PENDENTE' %}active{% endif %}">Pendentes</button>
                    <button type="submit" name="filtro" value="APROVADO" class="btn-aprovado {% if filtro == 'APROVADO' %}active{% endif %}">Aprovados</button>
                    <button type="submit" name="filtro" value="REPROVADO" class="btn-reprovado {% if filtro == 'REPROVADO' %}active{% endif %}">Reprovados</button>
                    <button type="submit" name="filtro" value="ENCERRADO" class="btn-encerrado {% if filtro == 'ENCERRADO' %}active{% endif %}">Encerrados</button>
                    <button type="submit" name="filtro" value="TODOS" class="btn-todos {% if filtro == 'TODOS' %}active{% endif %}">Todos</button>
                </form>
                
                <div class="baixar-relatorio" data-bs-toggle="tooltip" title="Baixar relatório">
                    <a href="{{ url_for('blueprint_painel_solicitacoes.download_relatorio', filtro=filtro) }}" class="baixar-relatorio">
                        <img src="{{ url_for('static', filename='img/baixar-relatorio.svg') }}" alt="Logo do Excel para Relatórios">
                    </a>
                </div>
            </div>

            <div class="container-filtros-linhas" id="filtros-linhas">
                <input type="text" id="filtro-id" placeholder="Pesquisar pelo ID">
                <input type="text" id="filtro-fornecedor" placeholder="Pesquisar por fornecedor">
                <input type="date" id="filtro-data">
                <input type="text" id="filtro-departamento" placeholder="Pesquisar pelo Dpto.">
                <input type="text" id="filtro-valor" placeholder="Pesquisar por valor">
            </div>

            <div class="tabela-scroll">
                <table class="tabela">
                    <thead>
                        <tr class="head-lista">
                            {% set new_dir = 'asc' if sort_dir|lower == 'desc' else 'desc' %}
                            <th><a href="?filtro={{ filtro }}&sort_by=ID&sort_dir={{ new_dir }}">
                                ID
                                {% if sort_by == 'ID' %}
                                    <span class="seta-ordenacao">
                                        {% if sort_dir|lower == 'asc' %}
                                            ↑
                                        {% else %}
                                            ↓
                                        {% endif %}
                                    </span>
                                {% endif %}
                            </a></th>
                            <th><a href="?filtro={{ filtro }}&sort_by=NRO_PROCESSO&sort_dir={{ new_dir }}">
                                Processo ERP
                                {% if sort_by == 'NRO_PROCESSO' %}
                                    <span class="seta-ordenacao">
                                        {% if sort_dir|lower == 'asc' %}
                                            ↑
                                        {% else %}
                                            ↓
                                        {% endif %}
                                    </span>
                                {% endif %}
                            </a></th>
                            <th><a href="?filtro={{ filtro }}&sort_by=EMPRESA&sort_dir={{ new_dir }}">
                                Emp./Rev.
                                {% if sort_by == 'EMPRESA' %}
                                    <span class="seta-ordenacao">
                                        {% if sort_dir|lower == 'asc' %}
                                            ↑
                                        {% else %}
                                            ↓
                                        {% endif %}
                                    </span>
                                {% endif %}
                            </a></th>
                            <th><a href="?filtro={{ filtro }}&sort_by=NRO_OS&sort_dir={{ new_dir }}">
                                O.S
                                {% if sort_by == 'NRO_OS' %}
                                    <span class="seta-ordenacao">
                                        {% if sort_dir|lower == 'asc' %}
                                            ↑
                                        {% else %}
                                            ↓
                                        {% endif %}
                                    </span>
                                {% endif %}
                            </a></th>
                            <th><a href="?filtro={{ filtro }}&sort_by=FORNECEDOR&sort_dir={{ new_dir }}">
                                Fornecedor
                                {% if sort_by == 'FORNECEDOR' %}
                                    <span class="seta-ordenacao">
                                        {% if sort_dir|lower == 'asc' %}
                                            ↑
                                        {% else %}
                                            ↓
                                        {% endif %}
                                    </span>
                                {% endif %}
                            </a></th>
                            {% if filtro == 'APROVADO' %}
                                <th>
                                    <a href="?filtro={{ filtro }}&sort_by=DATA_APROVACAO&sort_dir={{ new_dir }}">
                                        Dta. Aprovação
                                        {% if sort_by == 'DATA_APROVACAO' %}
                                            <span class="seta-ordenacao">
                                                {% if sort_dir|lower == 'asc' %}
                                                    ↑
                                                {% else %}
                                                    ↓
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    </a>
                                </th>
                            {% elif filtro == 'PENDENTE' %}
                                <th>
                                    <a href="?filtro={{ filtro }}&sort_by=DATA_SOLICITACAO&sort_dir={{ new_dir }}">
                                        Dta. Solicitação
                                        {% if sort_by == 'DATA_SOLICITACAO' %}
                                            <span class="seta-ordenacao">
                                                {% if sort_dir|lower == 'asc' %}
                                                    ↑
                                                {% else %}
                                                    ↓
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    </a>
                                </th>
                            {% elif filtro == 'ENCERRADO' %}
                                <th>
                                    <a href="?filtro={{ filtro }}&sort_by=DATA_ENCERRAMENTO&sort_dir={{ new_dir }}">
                                        Dta. Encerramento
                                        {% if sort_by == 'DATA_ENCERRAMENTO' %}
                                            <span class="seta-ordenacao">
                                                {% if sort_dir|lower == 'asc' %}
                                                    ↑
                                                {% else %}
                                                    ↓
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    </a>
                                </th>
                                
                            {% endif %}
                            <th><a href="?filtro={{ filtro }}&sort_by=DEPARTAMENTO_DESCRICAO&sort_dir={{ new_dir }}">
                                Departamento
                                {% if sort_by == 'DEPARTAMENTO_DESCRICAO' %}
                                    <span class="seta-ordenacao">
                                        {% if sort_dir|lower == 'asc' %}
                                            ↑
                                        {% else %}
                                            ↓
                                        {% endif %}
                                    </span>
                                {% endif %}
                            </a></th>
                            <th><a href="?filtro={{ filtro }}&sort_by=VALOR&sort_dir={{ new_dir }}">
                                Valor
                                {% if sort_by == 'VALOR' %}
                                    <span class="seta-ordenacao">
                                        {% if sort_dir|lower == 'asc' %}
                                            ↑
                                        {% else %}
                                            ↓
                                        {% endif %}
                                    </span>
                                {% endif %}
                            </a></th>   
                            <th>Descricao</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody id="tabela-corpo">
                        {% for s in solicitacoes %}
                            <tr class="body-lista">
                                <td>{{ s['id'] }}</td>
                                <td>
                                    {% if s['nro_processo'] == None %}
                                        -
                                    {% else %}
                                        {{ s['nro_processo'] }}
                                    {% endif %}
                                </td>
                                <td>{{ s['empresa'] }}.{{ s['revenda'] }}</td>
                                <td>
                                    {% if s['nro_os'] == None %}
                                        -
                                    {% else %}
                                        {{ s['nro_os'] }}
                                    {% endif %}
                                </td>
                                <td>{% if s['fornecedor'] == None %} - {% else %} {{ s['fornecedor'] }} {% endif %}</td>
                                {% if filtro == 'APROVADO' %}
                                    <td>{{ s['data_aprovacao'] }}</td>
                                {% elif filtro == 'PENDENTE' %}
                                    <td>{{ s['data_solicitacao'] }}</td>
                                {% elif filtro == 'ENCERRAMENTO' %}
                                    <td>{{ s['data_encerramento'] }}</td>
                                {% endif %}
                                <td>{{ s['departamento_codigo'] }} - {{ s['departamento_descricao'] }}</td>
                                <td>R$ {{ "{:,.2f}".format(s['valor']).replace(",", "X").replace(".", ",").replace("X", ".") }}</td>
                                <td class="descricao">{{ s['descricao'] }}</td>

                                <td class="td-opcoes">
                                    <a href="{{ url_for('blueprint_painel_solicitacoes.mais_info_sol', id=s['id']) }}" class="btn-more-info" data-bs-toggle="tooltip" title="Mais Informações">
                                        <img src="{{ url_for('static', filename='img/more-info.svg') }}" alt="Icone de mais informações da solicitacao">
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="10" class="nenhuma-solicitacao">Nenhuma solicitação foi encontrada</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/painel_solicitacoes.js') }}"></script>
    <script>
        function setFaviconBasedOnTheme() {
            const darkMode = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
            const favicon = document.querySelector("link[rel~='icon']") || document.createElement('link');
            favicon.rel = 'icon';
            favicon.href = darkMode ? '/static/img/favicon_branca.png' : '/static/img/favicon_preta.png';

            // Remove favicon antigo e adiciona o novo
            document.head.querySelectorAll("link[rel~='icon']").forEach(el => el.remove());
            document.head.appendChild(favicon);
        }

        document.addEventListener('DOMContentLoaded', function () {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
            });
        });

        // Chamada inicial
        setFaviconBasedOnTheme();

        // Escuta mudanças no tema
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', setFaviconBasedOnTheme);
    </script>
</body>
</html>